<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Vary Product Management</title>

    <!-- Style sheets -->
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/app.css" rel="stylesheet"/>

    <!-- Library Scripts -->
    <script src="js/angular.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Product Controllers -->
    <script src="app/products/productListCtrl.js"></script>
</head>
<!--ng-app directive occurs only once -->
<body ng-app="productManagement">
<div class="panel panel-primary">
    <div class="panel-heading"
         style="font-size:large">Product
    List
    </div>

    <div class="panel-body">
        <!-- ng-controller directive used here -->
        <table class="table" ng-controller="ProductListCtrl as vm">

            <thead>
            <tr>
                <td>
                    <!--ng-click event directives -->
                    <button type="button"
                            class="btn btn-primary"
                            ng-click="vm.toggleImage()">
                        {{vm.showImage ? "Hide" : "Show"}} Image
                    </button>
                </td>
                <td>Product</td>
                <td>Code</td>
                <td>Available</td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody>
                <!--ng-repeat directive for iterating -->
            <tr ng-repeat="product in vm.products">
                <td>
                    <img ng-if="vm.showImage"
                         ng-src="{{product.imageUrl}}"
                         style="width:50px;margin:2px"
                         title="{{product.productName}}">
                </td>
                <!-- readonly data binding expression -->
                <td>{{ product.productName}}</td>
                <td>{{ product.productCode }}</td>
                <td>{{ product.releaseDate }}</td>
                <!-- filtering using '|'based on currency -->
                <td>{{ product.price | currency }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>